<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>로그인 전</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
          rel="stylesheet" />
  <link rel="stylesheet" href="/css/Diagnosis6.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<!---로그인 전 영양검사 등 ---->

<body id="default">
<div class="header">
  <div class="menumain flex header-in">
    <a class="logo"><img src="/img/logo.png" /></a>
    <div class="space"></div>
    <nav class="menu">
      <ul>
        <li><a href="#">영양진단</a></li>
        <li><a href="#">챌린지</a></li>
        <li><a href="#">레시피</a></li>
        <li><a href="#">카드뉴스</a></li>
        <li><a href="#">센터소개</a></li>
        <li><a href="#">마이페이지</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="main py-3">
  <!-- 영양진단 결과 -->
  <div class="page-title">영양진단 결과</div>
  <div class="section-title">
    <div class="user-info">
      <!-- 타임리프 문법을 사용하여 데이터를 동적으로 출력 -->
      <div><span>이름</span><span th:text="${diagnosisResult.uIdx}">아무개</span></div>
      <div><span>성별</span><span th:text="${diagnosisResult.drGender}">남성</span></div>
      <div><span>나이</span><span th:text="${diagnosisResult.drAge}">30세</span></div>
      <div><span>검사일자</span><span th:text="${diagnosisResult.drTCreateAt}">2024.12.18</span></div>
      <div><span>질병</span><span th:text="${diagnosisResult.drDisease}">고혈압</span></div>
      <div><span>키</span><span th:text="${diagnosisResult.drHeight}">172CM</span></div>
      <div><span>몸무게</span><span th:text="${diagnosisResult.drWeight}">76KG</span></div>
    </div>
  </div>

    <!-- EAT SCORE -->
    <div class="eat-score">
      <div class="score-header p-3">
        <h2>EAT SCORE</h2>
        <p>적정 섭취량과 비교한 나의 실제 섭취량 점수</p>
        <p><strong>탄수화물, 콜레스테롤, 나트륨, 지방, 포화지방, 당류가</strong> 과다하여 잇스코어가 감점 되었어요.</p>
      </div>

    <div class="score-bar mt-6">
      <div class="score-pointer" th:style="'left: ' + ${diagnosisResult.drTotalScore} + '%'">
        <span th:text="${diagnosisResult.drTotalScore}">점수</span>
      </div>
    </div>


  <!-- 나의 하루 필요 칼로리 -->
  <div class="daily-nutrition">
    <div class="nutrition-header p-3">
      <h2>나의 하루 칼로리</h2>
      <p>인적사항, BMI, 활동량을 기준으로 산출한 권장 및 섭취 열량</p>
      <p th:text="'김건주님은 하루 섭취 열량(kcal)이 체중 감량을 위한 권장 대비 ' + ${diagnosisResult.calorieComparison}">과다해요</p>
    </div>
    <div class="nutrition-graph">
      <div class="nutrition-row">
        <!-- 탄수화물 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>탄수화물 <br> <span class="nutrient-value" th:text="${diagnosisResult.carbs} + 'g'">303.2g</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.carbsPointer} + '%'"></div>
            </div>
          </div>
        </div>

        <!-- 단백질 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>단백질 <br> <span class="nutrient-value" th:text="${diagnosisResult.protein} + 'g'">124.8g</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.proteinPointer} + '%'"></div>
            </div>
          </div>
        </div>

        <!-- 지방 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>지방 <br> <span class="nutrient-value" th:text="${diagnosisResult.fat} + 'g'">93.8g</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.fatPointer} + '%'"></div>
            </div>
          </div>
        </div>

        <!-- 콜레스테롤 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>콜레스테롤 <br> <span class="nutrient-value" th:text="${diagnosisResult.cholesterol} + 'mg'">536.8mg</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.cholesterolPointer} + '%'"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="nutrition-row">
        <!-- 당분 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>당분 <br> <span class="nutrient-value" th:text="${diagnosisResult.sugar} + 'g'">124.8g</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.sugarPointer} + '%'"></div>
            </div>
          </div>
        </div>


        <!-- 식이섬유 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>식이섬유 <br> <span class="nutrient-value" th:text="${diagnosisResult.fiber} + 'g'">30.8g</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.fiberPointer} + '%'"></div>
            </div>
          </div>
        </div>

        <!-- 포화지방 -->
        <div>
          <div class="nutrition-item">
            <div class="nutrient-label">
              <p>포화지방 <br> <span class="nutrient-value" th:text="${diagnosisResult.saturatedFat} + 'g'">17.9g</span></p>
            </div>
            <div class="nutrient-bar">
              <div class="low"></div>
              <div class="moderate"></div>
              <div class="high"></div>
              <div class="pointer" th:style="'left:' + ${diagnosisResult.saturatedFatPointer} + '%'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 건강 위험 경고 메시지 -->
  <div class="section warning-box">
    <span th:text="'회원님은 현재 ' + ${diagnosisResult.riskCondition} + '의 위험이 있습니다.'">간질환의 위험이 있습니다.</span><br>
    <span th:text="'식단에 ' + ${diagnosisResult.riskMessage}">주의가 필요합니다!</span><br>
    <span th:text="'식사일지와 챌린지로 건강한 생활을 도전해보세요.'">식사일지와 챌린지로 건강한 생활을 도전해보세요.</span>
  </div>

    <!-- 버튼 -->
    <button class="action-button">나의 처방전으로 가기</button>
  </div>
  <div class="footer"></div>
</body>
<script>
  window.addEventListener("scroll", () => {
    const bwLeft = window.scrollX;
    document.querySelector(
      ".header-in"
    ).style.transform = `translateX(-${bwLeft}px)`;
  });
</script>

</html>